{% extends "base.html" %}

{% block content %}

{% if keywords %}
ololo
{% endif %}

{% if latest_note_list %}
<div class="leftmarginblock" style="font-size: 115%">
  <h4 style="color: black">Notes</h4><br>
  <form action="" method="get" accept-charset="utf-8">
      <input class="searchfield" name="q" type="text" placeholder="Text to search (tag:value)" value="{{ request.GET.q }}">
      <input type="submit" value="Search" />
  </form>
  {% for note in latest_note_list %}
  <li>
    <a href="{% url 'notes:detail' note.id %}">{{ note.title }}</a>
    <a href="{% url 'notes:update' note.id %}">(Edit)</a>
    <hr>
  </li>
  {% endfor %}
</div>
{% else %}
<div class="leftmarginblock">
  {% if request.GET.q %}
  <p>Nothing found. <a href="/">Back to notes list</a></p>
  {% else %}
  <p>No notes available. </p>
  But you can create <a href="{% url 'notes:create' %}">a new one</a>
  {% endif %}
</div>
{% endif %}

{% if is_paginated %}
<div class="pagination">
   <span class="step-links">
       {% if page_obj.has_previous %}
           <a href="?page={{ page_obj.previous_page_number }}">previous</a>
       {% endif %}

       <span class="current">
           Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
       </span>

       {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
       {% endif %}
  </span>
</div>
{% endif %}

{% endblock %}
