{% block content %}

     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Create account</h1>

         <form method="post" >
             {% csrf_token %}

             {% for field in form %}
             <label>{{ field.label }}</label>
             {{ field }}
             <br><br>
             {{ field.help_text|safe }}
             <br><br>
             {% endfor %}

            <td><input type="submit" name="submit" value="Register" /></td>

         </form>
         Already have an account? <a href="/accounts/login">Sign in</a>
     </div>

{% endblock %}
